body {
  margin: 50px 0;
  font-family: 'Merienda';
  font-style: oblique;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Merienda';
  font-style: oblique;
}
